table{
    margin-top: 50px;
    
}



/* input group */

.group {
    display: flex;
    line-height: 30px;
    align-items: center;
    position: relative;
    max-width: 200px;
}

.input {
    width: 100%;
    height: 45px;
    line-height: 30px;
    padding: 5 5rem;
    padding-left: 3rem;
    border: 2px solid transparent;
    border-radius: 10px;
    outline: none;
    background-color: #f8fafc;
    color: #0d0c22;
    transition: .5s ease;
}

.input::placeholder {
    color: #94a3b8;
}

.input:focus,
input:hover {
    outline: none;
    border-color: #016dd9;
    background-color: #fff;
    box-shadow: 0 0 0 5px #016dd9;
}

.icon {
    position: absolute;
    left: 1rem;
    fill: none;
    width: 1rem;
    height: 1rem;
}




/* button css */

button {
    height: 2.8em;
    width: 9em;
    background: transparent;
    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
    border: 2px solid #016dd9;
    outline: none;
    color: #016dd9;
    cursor: pointer;
    font-size: 17px;
}

button:hover {
    background: #016dd9;
    color: #ffffff;
    animation: squeeze3124 0.9s both;
}

@keyframes squeeze3124 {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

/*  */

ul{
    list-style-image: url('https: //media.licdn.com/dms/image/D4E03AQF1AQrnXpePVA/profile-displayphoto-shrink_200_200/0/1690555735724?e=1712793600&v=beta&t=e_M0sWaO4m6_ssB0-YCx5DkTz9lVMcbFkJdUDc_fAOw');
}

